---
pagination:
  data: cms.projects
  size: 1
  alias: page_
permalink: "/project/{{ page_.slug }}/index.html"
layout: layouts/base.njk
isProject: true
eleventyComputed:
  title: "{{ page_.title }}"
---
