---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
Allow: /

# The CMS is not content and should never be indexed.
Disallow: /admin/

Sitemap: {{ site.url }}/sitemap.xml
